
<%if user_signed_in?%>
  <%if current_user.friends.present?%>
    <table class="table table-in table-bordered table-hover mt-5">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Twitter</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <% @friends.each do |friend| %>
          <%if friend.user == current_user%>
            <tr>
              <td>
              <%= link_to friend.first_name + " "+ friend.last_name , friend %>
              </td>
              <td><%= friend.email %></td>
              <td><%= friend.phone %></td>
              <td><%= friend.twitter %></td>
              <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger"%></td>
            </tr>
          <% end%>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'New Friend', new_friend_path ,class:"btn btn-secondary" %>
  <%else%>
   <br>
    <div class="card text-center">
      <div class="card-header">
        Enter your first friend here
      </div>
      <div class="card-body">
        <h5 class="card-title">Create your own fiends list</h5>
        <%= link_to 'New Friend', new_friend_path ,class:"btn btn-secondary" %>
      </div>
    </div>
  <%end%>
<%else%>
<br>
<div class="card text-center">
  <div class="card-header">
    WELCOME TO THE FRIEND LIST
  </div>
  <div class="card-body">
    <h5 class="card-title">START ADDING NOW!!</h5>
    <p class="card-text">An electronic agenda were you can have all your contacts</p>
    <%= link_to "Sign up" ,new_user_registration_path, class:"navbar-brand btn btn-primary" %>
  </div>
</div>

<%end%>
